body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url( https://cdn.pixabay.com/photo/2017/06/11/02/05/wheat-2391348_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #183b53;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

main {
    margin: 20px;
}

section {
    border: 1px solid #242020;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #ccc;
}

h2 {
    color: #3498db;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
