body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://img.freepik.com/premium-photo/beautiful-green-cornfield-with-sunset-sky-background_29332-1154.jpg?w=900);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #183b53;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

main {
    margin: 20px;
}

section {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

h2 {
    color: #3498db;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}