/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url(https://img.freepik.com/free-photo/brown-sandy-land-dark-cloudy-grey-sky_181624-26139.jpg?w=1060&t=st=1679986107~exp=1679986707~hmac=7c07aa27ab335c87942fab6d59095f3d1471e12a3af0799036c9a8408220c574);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  header {
    background-color: #183b53;
    color: #fff;
    padding: 10px;
    text-align: center;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

main {
    margin: 20px;
}

section {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    
}

h2 {
    color: #3498db;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 1060px;
    width: 100%;
}
  
  
  
  #forecast {
    padding: 20px;
    text-align: center;
  }
  
  /* Footer styles */
  
  /* Form styles */
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #3498db;
    color: white;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #2980b9;
  }